
div {

	background-image: url(developer.jpg);
}


h1{

	font-size: 50px;
	font-color: white;
	font-family: Googlefonts;
}

h2{
font-size: 30px;
font-color:white;
font-family: sans-serif;
position: center;
}